@media (max-width: 1440px) {
  .places {
    max-width: 984px;
    margin: 0 auto 102px;
  }
}

@media (max-width: 768px) {
  .places {
    max-width: 720px;
  }
}

@media (max-width: 375px) {
  .places {
    max-width: 100%;
  }
}