.comments__container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1440px) {
  .comments__container {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .comments__container {
    flex-wrap: wrap;
  }
}
