@import "./__title/video__title.css";
@import "./__subtitle/video__subtitle.css";
@import "./__container/video__container.css";
@import "./__item/video__item.css";
@import "./__bg/video__bg.css";
@import "./__rect/video__rect.css";
@import "./__image/video__image.css";
@import "./__icon/video__icon.css";
@import "./__duration/video__duration.css";

.video {
  max-width: 1184px;
  margin: 0 auto 102px;
}
@media (max-width: 1440px) {
  .video {
    max-width: 1184px;
    margin: 0 auto 102px;
  }
}

@media (max-width: 1024px) {
  .video {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .video {
    max-width: 720px;
  }
}

@media (max-width: 375px) {
  .video {
    max-width: 343px;
  }
}

@media (max-width: 320px) {
  .video {
    max-width: 288px;
  }
}
