@import "./__lang-link/header__lang-link.css";

@media (max-width: 1440px) {
  .header {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 30px;
    min-height: 52px;
  }
}

@media (max-width: 1024px) {
  .header {
    max-width: 928px;
    padding-top: 30px;
    min-height: 52px;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 720px;
    padding-top: 30px;
    min-height: 52px;
  }
}

@media (max-width: 375px) {
  .header {
    max-width: 343px;
    padding-top: 30px;
    min-height: 52px;
  }
}

@media (max-width: 320px) {
  .header {
    max-width: 288px;
    padding-top: 30px;
    min-height: 52px;
  }
}