@import "./__copyright/footer__copyright.css";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  margin: auto;
  padding-bottom: 42px;
}

@media (max-width: 1280px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 1024px) {
  .footer {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 343px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 357px) {
  .footer {
    max-width: 288px;
  }
}